<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{articleTitle}}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-storage.js"></script>
        <script src="../js/article.js"></script>
        <script src="../js/global.js"></script>
        <link rel="shortcut icon" type="image/png" href="../assets/images/icon.PNG">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">               
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" type="text/css" href="../css/article.css">   
        <link rel="stylesheet" type="text/css" href="../css/global.css">   
        
    </head>
    <body>
        {{#if user}}
            {{#if user.admin}}
                {{> adminNav}}
            {{else}}
                {{> adopterNav}}
            {{/if}}
        {{else}}
            {{> nav}}
        {{/if}}
            
            <div id="articleContainer">
                <a>
                    <img src="../assets/images/close.png" id="back-btn" width="40px" height="40px" alt="Close">
                </a>
                <div class="toggle-show">
                    {{#with article}}
                        {{!-- <h3 id="title">{{title}}</h3>
                        <span id="timestamp">{{timestamp}}</span><br>
                        <span id="author">{{author}}</span><br><br>
                        <h5 id="content">
                            {{content}}
                        </h5> --}}
                        <h1 id="titleDiv">{{title}}</h1>
                        <span id="timestamp">{{timestamp}}</span><br>
                        <span id="author">{{author}}</span><br><br>
                        <img id="img-article" src="" >
                        <p id="content">
                            {{breaklines content}}
                        </p><br>
                
                {{/with}}
                {{#if user}} 
                    {{#if user.admin}}
                    <div id="adopt-btn-container">
                        <button class="btn" id="editBtn">
                            Edit Article
                        </button>
                    </div>
                    {{else}}
                        {{#if owner}}
                            <div id="adopt-btn-container">
                                <button class="btn" id="editBtn">
                                    Edit Article
                                </button>
                            </div>
                        {{/if}}
                    {{/if}} 
                    
                {{/if}}
                </div>
                <div class="toggle-edit">
                    {{#with article}}
                        <form action="/updateArticle" method="POST">
                            <input type="hidden" name="id" id="articleId" value="{{../id}}">
                            <h3><input name="title" id="titleField" type="text" value="{{title}}"></h3>
                            <span>{{timestamp}}</span><br>
                            <span>{{author}}</span><br><br>
                            <img id="img-article" src="" style="align-items:center; width:200px;height:200px;">
                            <br><br>
                            <h5>
                                <textarea id="contentField" name="content" class="form-control z-depth-1" rows="6" style="width: 100%;" id="articleContent">{{content}}</textarea>
                            </h5>
                        
                            <div id="edit-btn-container">
                                <button type="button" class="btn flex-item btn-danger" id="editCancelBtn">
                                    Cancel
                                </button>
                                <div style="width: 5px;"></div>
                                <input type="button" class="btn flex-item" id="saveBtn" value="Save Changes">
                            </div>
                        </form>
                    {{/with}}
                </div>
            </div>
        </div>
        {{> footer}}
        <input type="hidden" id="referer" value="{{referer}}">
    </body>
</html>