<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Cats</title>
        <link rel="shortcut icon" type="image/png" href="../assets/images/icon.PNG">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-storage.js"></script>
        <script src="../js/cats.js"></script>
        <script src="../js/global.js"></script>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">               
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">   
        <link rel="stylesheet" type="text/css" href="../css/global.css">
        <link rel="stylesheet" type="text/css" href="../css/cats.css">  
           
    </head>
    <body>
        {{#if user}}
            {{#if user.admin}}
                {{> adminNav}}
            {{else}}
                {{> adopterNav}}
            {{/if}}
        {{else}}
            {{> nav}}
        {{/if}}

    <!-- CONTENT -->
    <h1 id="titleDiv">Our Cats</h1>
            <!-- SEARCH BAR -->
            <div id="search-filters">
                <form action="/cats" method="GET">
                    <div class="headerBar">
                        <div id="searchBarDiv">
                            <input name="name" type="text" placeholder="Enter a name" id="searchInput" value="{{filters.name}}">
                            <button type="submit" class="btn" id="searchBtn">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <div style="width: 5px;"></div>
                        <button class="btn" id="filterBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal">Filter</button>
                    </div>
        
                    <!-- Filter Modal -->
                    <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Filters</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            
                                <div class="modal-body">    
                                    Location: 
                                    <input type="hidden" id="location" value="{{filters.location}}">
                                    <select id="locationOptions" name="location">
                                        <option>All</option>
                                        {{> locationOptions}}
                                    </select><br>
                                    Fur-pattern: 
                                    <input type="hidden" id="furPattern" value="{{filters.furPattern}}">
                                    <select id="furPatternOptions" name="furPattern">
                                        <option>All</option>
                                        {{> furPatternOptions}}
                                    </select><br>
                                    Sex: 
                                    <input type="hidden" id="gender" value="{{filters.gender}}">
                                    <select id="sexOptions" name="gender">
                                        <option>All</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select><br>
                                    Age: 
                                    <input type="hidden" id="age" value="{{filters.age}}">
                                    <select id="ageOptions" name="age">
                                        <option>All</option>
                                        <option>Kitten</option>
                                        <option>Adult</option>
                                    </select><br>
                                    For Adoption:
                                    <input type="hidden" id="adoption" value="{{filters.adoption}}">
                                    {{#if filters.adoption}}
                                        <input type="checkbox" name="adoption" checked>
                                    {{else}}
                                        <input type="checkbox" name="adoption">
                                    {{/if}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn" id="resetBtn">Reset</button>
                                    {{!-- <a href="/cats">
                                        <button type="button" class="btn" id="resetBtn">Reset</button>
                                    </a> --}}
                                    <button type="submit" class="btn" id="applyFilterBtn">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </form>
            </div>
            <!-- SEARCH BAR END -->

        <div id="mainContent">
            
            <!-- SEARCH RESULTS --> 
            <div class="mainCatsContent">
                {{#if user}} 
                    {{#if user.moderator}}
                    <div class="cardContainer" id="addCatCard" data-toggle="modal" data-target="#addCatModal">
                        <div class="card flex-item" style="width: 18rem; height:340px" >
                                <img class="card-img-top" src="../assets/images/addCat.png" alt="Card image cap">
                                <div class="card-body" style="padding: 60px 20px 10px 20px">
                                    <h5 class="card-title">Add Cat</h5>
                                </div>
                        </div>
                    </div>
                    {{/if}} 
                {{/if}}
                {{#each cats}}
                    <div class="cardContainer viewCatCard" data-id={{@key}}>
                        <div class="card flex-item" style="width: 18rem; height: 340px;">
                            <img class="card-img-top img-cat" src="" data-id={{@key}} alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><b>{{name}}</b></h5>
                                <h8>{{gender}}, {{age}}</h8>
                                {{#if adoption}}
                                    <br><h8><b>For Adoption</b></h8>
                                {{/if}}
                            </div>
                            {{#if ../user}} 
                                {{#if ../user.admin}}
                                        <form action="deleteCat" method="POST">
                                            <input name="id" type="hidden" value={{@key}}>
                                            <input type="submit" href="#" class="removeBtn" data-toggle="tooltip" data-placement="bottom" title="Remove Cat" value="">
                                        </form>
                                {{/if}} 
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <!-- Add Cat Modal -->
        <div class="modal fade" id="addCatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="color:black; font-family: 'Lato', sans-serif;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style=" ">Add Cat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <form action="addCat" method="POST">
                <div class="modal-body">
                        <div style="margin: 8px;">
                            Name: <input type="text" name="name" id="addName">
                        </div>
                        <div style="display: flex; flex-direction: row; margin: 8px;">
                            <div >
                                Age:
                                <select name="age" id="addAge">
                                    <option>Kitten</option>
                                    <option>Adult</option>
                                </select>
                            </div>
                            <div style="width: 30px;"></div>
                            <div>
                                Sex:
                                <select name="gender" id="addGender">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>
                        <div style="margin: 8px;">
                            Location: 
                            <select name="location" id="addLocation">
                                {{> locationOptions}}
                            </select>
                        </div>
                        <div style="margin: 8px;">
                            Fur Pattern: 
                            <select name="furPattern" id="addFurPattern">
                                {{> furPatternOptions}}
                            </select>
                        </div>
                        <div style="margin: 8px; border-radius: 0px;">
                            Pictures: <input type="file" style="border-radius: 0px;" id="addPictures" multiple/>
                        </div>
                        <div style="margin: 15px 8px 8px 8px;">
                            Medical Procedures Undertaken <br>(please separate each with a comma):<br> 
                            <input name="medProcedures" type="text" style="width: 100%" id="addMed">
                        </div>
                        <div style="margin: 8px;">
                            Complications: <br><input name="complications" type="text" style="width: 100%" id="addComp">
                        </div>
                        <div style="margin: 8px;">
                            Other notes: <br><input name="notes" type="text" style="width: 100%" id="addNotes">
                        </div>
                        <div style="margin: 8px;">
                            <input type="checkbox" name="adoption" id="addAdoption"> For Adoption
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                    <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#loading" data-backdrop="static" data-keyboard="false" class="btn" id="btn-add-cat">Save</button>
                </div>
            </form>
            </div>
        </div>
        </div>
        {{> loading}}
        {{> footer}}
        <form action="/cat" id="cat-id-form">
            <input type="hidden" name="id" id="cat-id">
        </form>
    </body>
</html>