<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/icon.PNG">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">               
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../css/global.css">   
    <link rel="stylesheet" type="text/css" href="../css/profile.css">   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../js/profile.js"></script>
    <script src="../js/global.js"></script>
</head>
<body>
    {{#if user}}
        {{#if user.admin}}
            {{> adminNav}}
        {{else}}
            {{> adopterNav}}
        {{/if}}

    {{else}}
        {{> nav}}
    {{/if}}
    <!-- CONTENT -->
    <div id="mainContent">
        <div class="headerDiv">
           <h1 class="section-header flex-item" id="profileheader">Your Profile</h1>
       </div>
       <div class="container-center">  
           <div class="card toggle-show" style="border-radius: 10px;">
               <div class="editProfileDiv">Email: {{user.email}}</div>
                <div class="editProfileDiv">Username: {{user.username}}</div>
                <div class="editProfileDiv">
                    Password: <input type="password" class="label-field" value="{{user.password}}" disabled>
                </div> <br>
               <div class="btn toggle-show" data-toggle="modal" data-target="#exampleModalCentered" id="editBtn">Edit</div>
           </div>
           <div class="card toggle-edit" style="border-radius: 10px;">
                    <div class="editProfileDiv">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="changeEmail" class="editInputField" type="text" value="{{user.email}}" ></div> 
                    <div class="editProfileDiv">Username: <input id="changeUsername" class="editInputField" type="text" value="{{user.username}}" disabled></div>
                    <div class="editProfileDiv">New Password: &nbsp;<input id="changePassword" class="editInputField" type="password" value="{{user.password}}" ></div>
                    <div class="editProfileDiv">Confirm New Password: &nbsp;<input id="changeCPassword" class="editInputField" type="password"></div> <br>
                    <div class="editErrorMessage" style="justify-content: center; text-align:center;">
                    </div>
                    <div class="editPageBtnDiv">
                        <div class="btn save flex-item" id="saveBtn">Save</div>
                        <div class="flex-item" style="width: 5px;"></div>
                        <div class="btn save flex-item" id="editCancelBtn">Cancel</div>
                    </div>
                </div>
        </div>

        <br><br>
        {{#unless user.admin}}
        <div class="headerDiv">
            <h1 class="section-header flex-item" id="profileheader">Your Adoption Requests</h1>
        </div>
        <h3 class="section-header">Pending</h3>
        {{> pendingTable}}
        <h3 class="section-header">Completed</h3>
        {{> completedTable}}
        {{/unless}}
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content">
   <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLongTitle">Password Confirmation</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
       <span aria-hidden="true">&times;</span>
       </button>
   </div>
   <div class="modal-body">
       Enter password to continue.<br><br>
       Password: <input type="password" id="pwConfirmationField"><br>
   </div>
   <div class="modal-footer">
       <button type="button" class="btn" data-dismiss="modal" id="pwConfirmationCancel">Cancel</button>
       <button type="button" class="btn" data-dismiss="modal" id="contEdit">Continue</button>
   </div>
   </div>
</div>
</div>
{{> footer}}
{{!-- <form action="editProfile" >
    <input type="hidden">
</form> --}}
{{#if edit}}
    <input type="hidden" id="state" value="edit">
{{else}}
    <input type="hidden" id="state" value="show">
{{/if}} 

</body>
</html>